<ion-view title="Main">
  <ion-content class="padding">

   <div class="list">
     <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="..." ng-model="data.query">
        </label>
        <button class="button button-small" ng-click="doSearch()">
          SEARCH
        </button>
      </div>

     <a class="item item-icon-left item-icon-right"
      ng-repeat="p in person" href="#/detail/{{p.hospcode}}/{{p.pid}}">
        <i class="icon ion-male positive" ng-if="p.sex == '1'"></i>
        <i class="icon ion-female balanced" ng-if="p.sex == '2'"></i>
        {{ p.fullname }}
        <span class="item-note">
          {{ p.birth }}
        </span>
      </a>
   </div>

  </ion-content>
</ion-view>